<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      
      <li role="presentation">
        <%= link_to "首頁", root_path %>
       </li>
      <li role="presentation" class="active">
        <%= link_to "最新動態", feeds_restaurants_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to "TOP10人氣餐廳", ranking_restaurants_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to "美食達人", users_path %>
      </li>

    </ul>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Top 10 人氣餐廳 <small>(收藏數最高)</small></h1>
    </div>
      <% @restaurants.each do |restaurant| %>
  
    <div class="col-md-4">
      <%= link_to restaurant_path(restaurant) do %>
      <%= image_tag restaurant.image, class: "img-responsive center-block" %>
      <% end %>
      <br>
    </div>
    <div class="col-md-8">
      <h3><%= restaurant.name %>
          <span class="label label-default">收藏數：<%= restaurant.favorites_count %></span>
      </h3>
      <%= simple_format restaurant.description, length: 200 %>
    </div>
      <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary" %>
      <%= render partial: "shared/favorite", locals: {restaurant: restaurant} %> 
      <%= render partial: "shared/like", locals: {restaurant: restaurant} %> 
    <div class="clearfix"></div>

    <hr>
   <% end %>


  </div>
</div>